#ignore everything in the root except the "wp-content" directory.
html
!html/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
html/wp-content/*
!html/wp-content/themes/

# ignore specific themes
html/wp-content/themes/twentynineteen/
html/wp-content/themes/twentyseventeen/
html/wp-content/themes/twentytwenty/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

html/.htaccess
html/wp-config.php
_.gitignore
_gulpfile.js
_README.md