#-------------------
#/html/wp-content/themes/sangyo
#/workspace
#のみgit管理する
#-------------------

#一旦すべて除外
/*
#html内除外ファイル
#html内は除外しない
!/html
/html/wp-admin
/html/wp-includes
/html/*.php
/html/*.html
/html/*.txt
/html/.htaccess
#wp-content内除外ファイル
/html/wp-content/languages
/html/wp-content/plugins
/html/wp-content/upgrade
/html/wp-content/uploads/2020/10
/html/wp-content/*.php
/html/wp-content/themes/index.php
/html/wp-content/themes/twentynineteen
/html/wp-content/themes/twentyseventeen
/html/wp-content/themes/twentytwenty
#workspace
!/workspace
#除外しない
!/.gitignore
!/docker-compose.yml
!/gulpfile.js
!/package-lock.json
!/package.json
!/webpack.config.js