.under-contents {
    &.under-about {
        background: url(../images/about_visual.jpg) no-repeat;
        background-size: cover;
    }
}
.about {
    background-position: top;
    &__inner {
        margin: 0 auto;
        padding: 170px 0;
        width: 1100px;
    }
    &__box {
        position: relative;
        width: 1108px;
        background: #fff;
        &__inner {
            .colum {
                justify-content: flex-start;
            }
        }
        &:nth-child(n + 2) {
            padding: 200px 0 0;
        }

        &__contents {
            width: 370px;
            &__inner {
                width: 450px;
                margin: 0 auto;
                padding: 40px 0 0;
            }
            &__ttl {
                color: #000;
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 1.5;
            }
            &__info {
                color: #000;
                font-size: 14px;
                line-height: 2.5;
                margin: 20px 0 35px;
            }
            .btn {
                margin: 0 auto;
                width: 200px;
            }
        }
        &__img {
            height: 436px;
            &.img01 {
                background: url(../images/about_main_img01.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.img02 {
                background: url(../images/about_main_img02.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.img03 {
                background: url(../images/about_main_img03.jpg);
                background-size: cover;
                background-position: center center;
            }
        }
    }
}