.under-contents {
    &.under-business {
        background: url(../images/business_visual.jpg) no-repeat;
        background-size: cover;
    }
    &__inner {
        padding: 100px 0;
        margin: 0 auto;
        width: 960px;
    }
    &__ttl {
        padding-top: 50px;
        &__en {
            color: #fff;
            font-size: 5.0rem;
            font-weight: lighter;
            letter-spacing: 2px;
        }
        &__ja {
            color: #bbb;
            font-size: 2.0rem;
            font-weight: bold;
            padding-top: 10px;
        }
    }
}
/*common.css*/
.under-sub-ttl {
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 60px;
}
.under-sub-ttl.company {
    letter-spacing: 2px;
    text-align: center;
}

  .map {
    background: #fff;
  }
/*pc.css*/
.business {
    &__inner {
        padding: 60px 0 140px;
    }
    &__box {
        padding: 0;
        position: relative;
        &__bnr {
            color: #fff;
            height: 450px;
            letter-spacing: 2px;
            opacity: 1;
            text-align: center;
            height: 350px;
            &.top-metal {
                background: url(../images/top_main_img02.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.top-food {
                background: url(../images/top_main_img03.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.top-machine {
                background: url(../images/top_main_img04.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.top-energy {
                background: url(../images/top_main_img05.jpg);
                background-size: cover;
                background-position: center center;
            }
            &__inner {
                position: absolute;
                top: 35%;
                left: 0;
                text-align: center;
                width: 100%;
            }
            &__name {
                font-size: 2.3rem;
                font-weight: lighter;

            }
            &__info {
                font-size: 1.4rem;
                margin: 30px 0 0;

            }
        }
    }
}