/*-----common-----*/

.biz-detail {
    background-position: top;
    &__inner {
        margin: 0 auto;
        padding: 170px 0;
        width: 1100px;
    }
    &__ttl {
        margin-bottom: 26px;
        font-size: 24px;
        text-align: center;
        letter-spacing: 7px;
        line-height: 2;
    }
    &__info {
        margin: 0 auto;
        width: 590px;
        font-size: 14px;
        line-height: 2.05;
        letter-spacing: 1.5px;
    }
    &__box {
        position: relative;
        width: 1108px;
        background: #fff;
        &__inner {
            .colum {
                justify-content: flex-start;
            }
        }
        &:nth-child(n + 2) {
            padding: 200px 0 0;
        }

        &__contents {
            width: 370px;
            &__inner {
                width: 450px;
                margin: 0 auto;
                padding: 40px 0 0;
            }
            &__ttl {
                color: #000;
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 1.5;
            }
            &__info {
                color: #000;
                font-size: 14px;
                line-height: 2.5;
                margin: 20px 0 35px;
            }
            .btn {
                margin: 0 auto;
                width: 200px;
            }
        }
        &__img {
            height: 436px;
            &.metal-img01 {
                background: url(../images/metal_main_img01.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.metal-img02 {
                background: url(../images/metal_main_img02.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.food-img01 {
                background: url(../images/food_main_img01.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.food-img02 {
                background: url(../images/food_main_img02.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.machine-img01 {
                background: url(../images/machine_main_img01.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.machine-img02 {
                background: url(../images/machine_main_img02.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.machine-img03 {
                background: url(../images/machine_main_img03.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.energy-img01 {
                background: url(../images/energy_main_img01.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.energy-img02 {
                background: url(../images/energy_main_img02.jpg);
                background-size: cover;
                background-position: center center;
            }
        }
    }
}

.product {
    &__inner {
        padding: 60px 0;
        background-color: #fafafa;
        &__container {
            width: 1100px;
        }
    }
    &--card {
        margin-bottom: 30px;
    }
    &__box {
        padding: 40px 40px;
        &__ttl {
            font-size: 2.0rem;
            letter-spacing: 2px;
            margin-bottom: 40px;
            text-align: center;
        }
        &__item {
            font-size: 1.4rem;
            margin-bottom: 40px;
            &__ttl {
                font-size: 1.6rem;
                margin-bottom: 15px;
            }
        }
    }
    .column {
        &__box {
            &__contents{
                &__ttl {
                    font-size: 18px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                }
                &__info {
                    font-size: 14px;
                    line-height: 2.5;
                }
            }
            &__img {
                &__figure {
                    width: 300px;
                    height: 200px;
                    margin: 60px auto 0;
                    display: block;
                    &.metal {
                        background: url(../images/metal_main_img03.jpg);
                        background-size: cover;
                        background-position: center center;
                    }
                    &.energy {
                        background: url(../images/energy_main_img03.jpg);
                        background-size: cover;
                        background-position: center center;
                    }
                }
            }
        }
    }
}




/*-----metal-----*/
.under-contents {
    &.under-metal {
        background: url(../images/metal_visual.jpg) no-repeat;
        background-size: cover;
    }
}

/*-----food-----*/
.under-contents {
    &.under-food {
        background: url(../images/food_visual.jpg) no-repeat;
        background-size: cover;
    }
}

/*-----machine-----*/
.under-contents {
    &.under-machine {
        background: url(../images/machine_visual.jpg) no-repeat;
        background-size: cover;
    }
}

/*-----energy-----*/
.under-contents {
    &.under-energy {
        background: url(../images/energy_visual.jpg) no-repeat;
        background-size: cover;
    }
}

.to-contact {
    &__ttl.biz {
        padding: 100px 0 60px;
    }
}