html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: source-han-serif-japanese;
    src: url("../font/SourceHanSerifJP-Regular.otf");
}

body {
    color: #000;
    font-size: 1.6em;
    font-family: source-han-serif-japanese,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","游明朝体",YuMincho,"Yu Mincho","ＭＳ Ｐ明朝","MS PMincho",serif;
}

a {
    text-decoration: none;
    transition: 0.2s linear;
}

a:hover {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

ol, ul {
    list-style: none;
}

#wrapper {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.colum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.under-contents {
    &__inner {
        padding: 100px 0;
        margin: 0 auto;
        width: 960px;
        height: 500px;
    }
    &__ttl {
        position: absolute;
        top: 180px;
        &__en {
            color: #fff;
            font-size: 5.0rem;
            font-weight: lighter;
            letter-spacing: 2px;
        }
        &__ja {
            color: #fff;
            font-size: 2.0rem;
            font-weight: bold;
            padding-top: 10px;
        }
    }
}

.to-contact {
    margin: 0 0 130px;
    &__inner {
        margin: 0 auto;
        width: 1100px;
    }
    &__ttl {
        color: #fff;
        text-align: center;
        padding: 300px 0 60px;
        &__en {
            color: #000;
            font-size: 4.8rem;
            font-weight: bold;
        }
        &__jp {
            color: #999;
            font-size: 2.4rem;
            font-weight: bold;
            padding: 10px 0 0;
        }
    }
    &__detail {
        text-align: center;
        margin-bottom: 48px;
    }
    &__btn {
        font-weight: 400;
        text-align: center;
        a {
            border: 1px solid #aabcc2;
            box-sizing: border-box;
            color: #333;
            display: inline-block;
            font-size: 14px;
            letter-spacing: 1px;
            min-width: 550px;
            padding: 14px;
            transition: color .6s ease,border .6s ease,background .6s ease;
        }
    }
}

/*common.css*/
.under-sub-ttl {
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 60px;
}

/*フェードイン*/
.fadein {
    opacity: 0;
    transform: translate(0,50px);
    transition: all 800ms;
}
.fadein-left {
    opacity: 0;
    transform: translate(-50px,0);
    transition: all 500ms;
}
/*画面に入った状態 */
.fadein.scrollin,
.fadein-left.scrollin{
    opacity: 1;
    transform: translate(0,0);
}

/*タイトルと背景画像を遅延表示*/
.top-main-visual__copy__en {
    opacity: 0;
    transition: all 2000ms;
}
.top-main-visual__copy__en.show {
    opacity: 1
}
.top-main-visual__copy__jp {
    opacity: 0;
    transition: all 2000ms;
}
.top-main-visual__copy__jp.show {
    opacity: 1
}

.under-contents__ttl__en {
    position: absolute;
    top: 40px;
    left: -50px;
    opacity: 0;
    transition: all 1000ms;
    width: 600px;
}
.under-contents__ttl__en.show {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 1;
    width: 600px;
}
.under-contents__ttl__ja {
    position: absolute;
    top: 110px;
    left: -50px;
    opacity: 0;
    transition: all 1000ms;
    width: 500px;
}
.under-contents__ttl__ja.show {
    position: absolute;
    top: 110px;
    left: 0;
    opacity: 1;
    width: 500px;
}

.under-contents {
    opacity: 0;
    transition: all 300ms;
}

.under-contents.show {
    opacity: 1;
}