html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: source-han-serif-japanese;
    src: url("../font/SourceHanSerifJP-Regular.otf");
}

body {
    color: #000;
    font-size: 1.6em;
    font-family: source-han-serif-japanese,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","游明朝体",YuMincho,"Yu Mincho","ＭＳ Ｐ明朝","MS PMincho",serif;
}

a {
    text-decoration: none;
    transition: 0.2s linear;
}

img {
    height: auto;
    max-width: 100%;
}

ol, ul {
    list-style: none;
}

#wrapper {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.colum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*フェードイン*/
.fadein {
    opacity: 0;
    transform: translate(0,50px);
    transition: all 800ms;
}
.fadein-left {
    opacity: 0;
    transform: translate(-50px,0);
    transition: all 500ms;
}
/*画面に入った状態 */
.fadein.scrollin,
.fadein-left.scrollin{
    opacity: 1;
    transform: translate(0,0);
}

/*タイトルと背景画像を遅延表示*/
.top-main-visual__copy__en {
    opacity: 0;
    transition: all 2000ms;
}
.top-main-visual__copy__en.show {
    opacity: 1
}
.top-main-visual__copy__jp {
    opacity: 0;
    transition: all 2000ms;
}
.top-main-visual__copy__jp.show {
    opacity: 1
}

.under-contents__ttl__en {
    position: absolute;
    top: 40px;
    left: -50px;
    opacity: 0;
    transition: all 1000ms;
    width: 600px;
}
.under-contents__ttl__en.show {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 1;
    width: 600px;
}
.under-contents__ttl__ja {
    position: absolute;
    top: 110px;
    left: -50px;
    opacity: 0;
    transition: all 1000ms;
    width: 500px;
}
.under-contents__ttl__ja.show {
    position: absolute;
    top: 110px;
    left: 0;
    opacity: 1;
    width: 500px;
}

.under-contents {
    opacity: 0;
    transition: all 1000ms;
}

.under-contents.show {
    opacity: 1;
}