.under-contents {
    &.under-contact {
        background: url(../images/contact_visual.jpg) no-repeat;
        background-size: cover;
    }
    &__inner {
        padding: 100px 0;
        margin: 0 auto;
        width: 960px;
    }
    &__ttl {
        padding-top: 50px;
        &__en {
            color: #fff;
            font-size: 5.0rem;
            font-weight: lighter;
            letter-spacing: 2px;
        }
        &__ja {
            color: #bbb;
            font-size: 2.0rem;
            font-weight: bold;
            padding-top: 10px;
        }
    }
}
/*common.css*/
.under-sub-ttl {
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 60px;
}
.under-sub-ttl.company {
    letter-spacing: 2px;
    text-align: center;
}

  .map {
    background: #fff;
  }
/*pc.css*/
.wpcf7 {
    margin: 0 auto;
    padding: 140px 0 140px;
    width: 1000px;
    .contact-note {
        margin-bottom: 60px;
        text-align: center;
    }
    form {
        width: 600px;
        margin: 0 auto;
        label {
            text-align: center;
            .wpcf7-form-control-wrap {
                display: block;
                margin: 20px 0 40px;
            }
            input,textarea {
                width: 600px;
            }
        }
        .wpcf7-form-control.wpcf7-submit {
            width: 240px;
            height: 52px;
            margin: 0 auto;
            display: block;
        }
    }
}
