.under-contents {
    &.under-contact {
        background: url(../images/contact_visual.jpg) no-repeat;
        background-size: cover;
    }
}

.wpcf7 {
    margin: 0 auto;
    padding: 140px 0 140px;
    width: 1000px;
    .contact-note {
        margin-bottom: 60px;
        text-align: center;
    }
    form {
        width: 600px;
        margin: 0 auto;
        label {
            text-align: center;
            .wpcf7-form-control-wrap {
                display: block;
                margin: 20px 0 40px;
            }
            input,textarea {
                width: 600px;
            }
        }
        .wpcf7-form-control.wpcf7-submit {
            width: 240px;
            height: 52px;
            margin: 0 auto;
            display: block;
        }
        .contact-note {
            line-height: 2;
        }
        .notice {
            color: #ec4c4c;
        }
    }
}
