.header {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;

    &__logo {
        padding: 10px 0 0;
        position: absolute;
        left: 80px;
        img {
            margin: 0 auto;
        }
    }
    &__nav {
        clear: both;
        width: 600px;
        position: absolute;
        right: 80px;
        &__menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
                font-size: 1.6rem;
                font-weight: bold;
                line-height: 100px;
                a:link,a:active,a:visited {
                    color: #fff;
                }
            }
        }
    }
}

.header__inner {
    margin: 0 auto;
    width: 1000px;
}