.header {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;

    &__logo {
        padding: 10px 0 0;
        position: absolute;
        left: 80px;
        img {
            margin: 0 auto;
        }
    }
    &__nav {
        clear: both;
        width: 600px;
        position: absolute;
        right: 80px;
        &__menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
                font-size: 1.6rem;
                font-weight: bold;
                line-height: 100px;
                a {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    height: 65px;
                }
                a::after {
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    transform: scale(0, 1);
                    transform-origin: left top;
                    transition: transform .3s;
                }
                a:hover::after {
                    transform: scale(1, 1);
                }
                a:link,a:active,a:visited {
                    color: #fff;
                }
            }
        }
    }
}

.header__inner {
    margin: 0 auto;
    width: 1000px;
}