.under-contents {
    &.under-recruit {
        background: url(../images/recruit_visual.jpg) no-repeat;
        background-size: cover;
    }
}

.recruit {
    &__inner {
        padding: 60px 0 140px;
    }
    &__box {
        padding: 0;
        position: relative;
        &__bnr {
            color: #fff;
            height: 450px;
            letter-spacing: 2px;
            opacity: 1;
            text-align: center;
        }
        .top-meta {
            background: url(https://placehold.jp/799x451.png) no-repeat;
            background-size: cover;
            height: 350px;
            &__inner {
                position: absolute;
                top: 35%;
                left: 0;
                text-align: center;
                width: 100%;
            }
            &__name {
                font-size: 4.5rem;
                font-weight: lighter;

            }
            &__info {
                font-size: 1.4rem;
                margin: 30px 0 0;

            }
        }
    }
}
.human {
    height: auto;
    &__inner {
        margin: 0 auto;
        width: 1100px;
    }
    &__ttl {
        color: #fff;
        text-align: center;
        padding: 200px 0 60px;
        &__en {
            color: #000;
            font-size: 4.8rem;
        }
        &__jp {
            color: #bbb;
            font-size: 2.0rem;
            font-weight: bold;
            padding: 10px 0 0;
        }
    }
    &__detail {
        background-position: top;
        padding: 10px 0 0;
        &__inner {
            margin: 0 auto;
            width: 1100px;
        }
        &__box {
            position: relative;
            width: 1108px;
            background: #fff;
            &__inner {
                .colum {
                    justify-content: flex-start;
                }
            }
            &:nth-child(n + 2) {
                padding: 120px 0 0;
            }

            &__contents {
                width: 370px;
                &__inner {
                    width: 450px;
                    margin: 0 auto;
                    padding: 40px 0 0;
                }
                &__ttl {
                    color: #000;
                    font-size: 2.4rem;
                    font-weight: bold;
                    line-height: 1.5;
                }
                &__info {
                    color: #000;
                    font-size: 14px;
                    line-height: 2.5;
                    margin: 20px 0 35px;
                }
                .btn {
                    margin: 0 auto;
                    width: 200px;
                }
            }
            &__img {
                background: url(../images/recruit_main_img01.jpg);
                background-size: cover;
                background-position: center center;
                height: 388px;
            }
        }
    }
}
.interview {
    height: auto;
    &__inner {
        margin: 0 auto;
    }
    &__ttl {
        color: #fff;
        text-align: center;
        padding: 200px 0 60px;
        &__en {
            color: #000;
            font-size: 4.8rem;
        }
        &__jp {
            color: #bbb;
            font-size: 2.0rem;
            font-weight: bold;
            padding: 10px 0 0;
        }
    }
    &__box {
        height: 500px;
        padding: 0;
        &:hover {
            opacity: .7;
        }
        &.member-01 {
            background: url(../images/recruit_main_img02.jpg);
            background-size: cover;
            background-position: center center;
        }
        &.member-02 {
            background: url(../images/recruit_main_img03.jpg);
            background-size: cover;
            background-position: center center;
        }
        &.member-03 {
            background: url(../images/recruit_main_img04.jpg);
            background-size: cover;
            background-position: center center;
        }
        &.member-04 {
            background: url(../images/recruit_main_img05.jpg);
            background-size: cover;
            background-position: center center;
        }
        .member-info {
            position: relative;
            width: 100%;
            padding: 34px 45px;
            background-color: rgba(17,17,17,0.6);
            color: #fff;
            overflow: hidden;
            top: 71%;
            &__name {
                margin-bottom: 10px;
                .jp {
                    display: block;
                    margin-bottom: 5px;
                    font-size: 2.2rem;
                    letter-spacing: 0.01em;
                    line-height: 1.2;
                }
                .en {
                    display: block;
                    font-size: 1.2rem;
                    letter-spacing: 0.01em;
                    line-height: 1.2;
                }
            }
            &__department {
                font-size: 1.4rem;
                letter-spacing: 0.01em;
            }
        }
    }
    .col-sm {
        padding: 0;
        margin: 0;
        img {
            margin: 0;
        }
    }
}
.application {
    height: auto;
    &__inner {
        margin: 0 auto;
        width: 1100px;
    }
    &__ttl {
        color: #fff;
        text-align: center;
        padding: 200px 0 60px;
        &__en {
            color: #000;
            font-size: 4.8rem;
        }
        &__jp {
            color: #bbb;
            font-size: 2.0rem;
            font-weight: bold;
            padding: 10px 0 0;
        }
    }
    dl {
        border-bottom: 1px solid #666;
        clear: both;
        line-height: 1.8;
        margin: 0 auto;
        width: 740px;
        padding: 15px 0;
        dt {
            float: left;
            text-align: center;
            width: 210px;
        }
        dd {
            line-height: 1.8;
            margin-left: 210px;
        }
    }
}
.to-contact {
    &__ttl.recruit {
        padding: 200px 0 60px;
    }
}
