/*
.btn-wrap {
    background: #000;
    border: 5px solid #7e7e7e;
    height: 45px;
    transform: skewX(-20deg);
    transition: .3s ease-in-out;
    position: absolute;
    right: 100px;
    bottom: -30px;
    width: 255px;
    -webkit-transition: .3s ease-in-out;
    .btn {
        color: #fff;
        font-size: 1.5rem;
        line-height: 35px;
        transform: skewX(20deg);
        margin-left: 30px;
        position: relative;
    }
}*/

.btn {
    font-size: 16px;
    padding: 10px 0;
    text-decoration: none;
}
.main {
    display: block;
    .top-main-visual {
        /*background-color: #000;
        background: url(../images/top_video.mp4);
        background-size: cover;
        height: 750px;*/
        position: relative;
        /*
        .filter {
            background: #000;
            video {
                opacity: .8;
            }
        }*/
        &__inner {
            position: relative;
            /*pc*/
            margin: 0 auto;
            width: 1100px;
        }
        &__copy {
            /*pc*/
            color: #333;
            left: 50px;
            letter-spacing: 3px;
            top: 300px;
            position: absolute;
            z-index: 100;
            &__en {
                /*pc*/
                font-size: 7.2rem;
                font-weight: bold;
            }
            &__jp {
                /*pc*/
                font-size: 2.2rem;
                line-height: 1.6;
                margin: 40px 0 0;
            }
        }
    }
    .top-about {
        /*pc*/
        /*background-color: #333;*/
        height: auto;
        &__inner {
            margin: 0 auto;
            width: 1100px;
        }
        &__ttl {
            color: #fff;
            text-align: center;
            padding: 300px 0 60px;
            &__en {
                color: #000;
                font-size: 4.8rem;
                font-weight: bold;
            }
            &__jp {
                color: #bbb;
                font-size: 2.0rem;
                font-weight: bold;
                padding: 10px 0 0;
            }
        }
        &__detail {
            /* background: url(../images/detail_bg_ss.jpg) no-repeat;
            background-size: cover;*/
            background-position: top;
            padding: 10px 0 0;
            &__inner {
                margin: 0 auto;
                width: 1100px;
            }
            &__box {
                /* background: url(../images/detail_box_bg.png) no-repeat;
                background-size: 1108px 387px;*/
                /*height: 387px;*/
                position: relative;
                width: 1108px;
                /*margin: 120px 0 0;*/
                background: #fff;
                &__img {
                    background: url(../images/top_main_img01.jpg);
                    background-size: cover;
                    background-position: center center;
                }
                &__inner {
                    /*margin: 0 0 0 200px;*/
                    /*padding: 120px 0 0;*/
                    .colum {
                        justify-content: flex-start;
                    }
                }
                &:nth-child(n + 2) {
                    padding: 120px 0 0;
                }

                &__contents {
                    /*margin: 0 40px 0 0;*/
                    width: 370px;
                    &__inner {
                        width: 450px;
                        margin: 0 auto;
                        padding: 40px 0 0;
                    }
                    &__ttl {
                        color: #000;
                        font-size: 2.4rem;
                        font-weight: bold;
                        line-height: 1.5;
                    }
                    &__info {
                        color: #000;
                        font-size: 14px;
                        line-height: 2.5;
                        margin: 20px 0 35px;
                    }
                    .btn {
                        margin: 0 auto;
                        width: 200px;
                    }
                }
            }
        }
    }
    /*
    .top-business {
        height: 1350px;
        width: 955px;
        margin: 0 auto;
        &__ttl {
            color: #fff;
            text-align: center;
            padding: 100px 0 60px;
            &__en {
                color: #000;
                font-size: 4.8rem;
                font-weight: bold;
            }
            &__jp {
                color: #999;
                font-size: 2.4rem;
                font-weight: bold;
                padding: 10px 0 0;
            }
        }
        &__box {
            &__bnr {
                color: #fff;
                display: table-cell;
                height: 450px;
                letter-spacing: 2px;
                opacity: 1;
                text-align: center;
                transition: .3s ease-in-out;
                vertical-align: middle;
                width: 450px;
                -webkit-transition: .3s ease-in-out;
            }
            .top-meta {
                background: url(https://placehold.jp/799x451.png) no-repeat;
                background-size: cover;
                &__name {
                    font-family: 'free-serif';
                    font-size: 4.5rem;
                    font-weight: lighter;
                }
                &__info {
                    font-size: 1.4rem;
                    margin: 30px 0 0;
                }
            }
        }
        & .colum +.colum {
            margin: 55px 0 0;
        }
    }*/
    .top-business {
        &__ttl {
            color: #fff;
            text-align: center;
            padding: 300px 0 60px;
            &__en {
                color: #000;
                font-size: 4.8rem;
                font-weight: bold;
            }
            &__jp {
                color: #999;
                font-size: 2.4rem;
                font-weight: bold;
                padding: 10px 0 0;
            }
        }
        &__box {
            padding: 0;
            position: relative;
            &__bnr {
                color: #fff;
                height: 350px;
                letter-spacing: 2px;
                opacity: 1;
                text-align: center;
                &.top-metal {
                    background: url(../images/top_main_img02.jpg);
                    background-size: cover;
                    background-position: center center;
                }
                &.top-food {
                    background: url(../images/top_main_img03.jpg);
                    background-size: cover;
                    background-position: center center;
                }
                &.top-machine {
                    background: url(../images/top_main_img04.jpg);
                    background-size: cover;
                    background-position: center center;
                }
                &.top-energy {
                    background: url(../images/top_main_img05.jpg);
                    background-size: cover;
                    background-position: center center;
                }

                &__inner {
                    position: absolute;
                    top: 35%;
                    left: 0;
                    text-align: center;
                    width: 100%;
                }
                &__name {
                    font-size: 2.3rem;
                    font-weight: lighter;

                }
                &__info {
                    font-size: 1.4rem;
                    margin: 30px 0 0;

                }
            }
            /*
            .top-meta {
                background: url(https://placehold.jp/799x451.png) no-repeat;
                background-size: cover;
                height: 350px;
                &__inner {
                    position: absolute;
                    top: 35%;
                    left: 0;
                    text-align: center;
                    width: 100%;
                }
                &__name {
                    font-size: 4.5rem;
                    font-weight: lighter;

                }
                &__info {
                    font-size: 1.4rem;
                    margin: 30px 0 0;

                }
            }*/
        }
    }
    .top-blog {
        /*pc*/
        /*background-color: #333;*/
        height: auto;
        &__inner {
            margin: 0 auto;
            width: 1100px;
        }
        &__ttl {
            color: #fff;
            text-align: center;
            padding: 300px 0 60px;
            &__en {
                color: #000;
                font-size: 4.8rem;
                font-weight: bold;
            }
            &__jp {
                color: #bbb;
                font-size: 2.0rem;
                font-weight: bold;
                padding: 10px 0 0;
            }
        }
    }
    .top-recruit {
        &__inner {
            margin: 0 auto;
            width: 1100px;
        }
        &__ttl {
            color: #fff;
            text-align: center;
            padding: 300px 0 60px;
            &__en {
                color: #000;
                font-size: 4.8rem;
                font-weight: bold;
            }
            &__jp {
                color: #999;
                font-size: 2.4rem;
                font-weight: bold;
                padding: 10px 0 0;
            }
        }
        &__box {
            color: #fff;
            letter-spacing: 2px;
            opacity: 1;
            text-align: center;
            height: 374px;
            position: relative;
            &.human {
                background: url(../images/top_main_img06.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.interview {
                background: url(../images/top_main_img07.jpg);
                background-size: cover;
                background-position: center center;
            }
            &.application {
                background: url(../images/top_main_img08.jpg);
                background-size: cover;
                background-position: center center;
            }
            &__figure {
                position: absolute;
                top: 65%;
                left: 5%;
                &__copy {
                    font-size: 2.3rem;
                    font-weight: lighter;
                }
            }
        }
    }
    .top-contact {
        margin: 0 0 130px;
        &__inner {
            margin: 0 auto;
            width: 1100px;
        }
        &__ttl {
            color: #fff;
            text-align: center;
            padding: 300px 0 60px;
            &__en {
                color: #000;
                font-size: 4.8rem;
                font-weight: bold;
            }
            &__jp {
                color: #999;
                font-size: 2.4rem;
                font-weight: bold;
                padding: 10px 0 0;
            }
        }
        &__detail {
            text-align: center;
            margin-bottom: 48px;
        }
        &__btn {
            font-weight: 400;
            text-align: center;
            a {
                border: 1px solid #aabcc2;
                box-sizing: border-box;
                color: #333;
                display: inline-block;
                font-size: 14px;
                letter-spacing: 1px;
                min-width: 550px;
                padding: 14px;
                transition: color .6s ease,border .6s ease,background .6s ease;
            }
        }
    }
}
