|</main>
.page-top#page-top
    a(href="#").page-top__container
        .arrow
footer.footer
            .footer__inner
                .footer__info.fl
                    .footer__info__logo
                        a(href="http://")
                            img(src="https://placehold.jp/182x137.png", alt="サンギョー貿易株式会社")
                    .footer__info__address
                        |〒262-0023
                        br
                        | 千葉県千葉市花見川区検見川町1-591-2
                        br
                        | TEL 043-441-7008 / FAX 0434-41-7015
                .footer__nav.fr
                    ul.footer__nav__menu.col-lg-3
                        li.footer__nav__menu__item: a(href="http://") トップページ
                        li.footer__nav__menu__item: a(href="http://") 当社の強み
                        li.footer__nav__menu__item: a(href="http://") 最新情報
                        li.footer__nav__menu__item: a(href="http://") ブログ
                        li.footer__nav__menu__item: a(href="http://") サイトマップ
                        li.footer__nav__menu__item: a(href="http://") お問い合わせ
                    ul.footer__nav__menu.col-lg-3
                        li.footer__nav__menu__item: a(href="http://") 事業内容
                            ul.sub
                                li.sub__item: a(href="http://") 金属・鉄鋼部門
                                li.sub__item: a(href="http://") 食料部門
                                li.sub__item: a(href="http://") 機械部門
                                li.sub__item: a(href="http://") エネルギー・化学品部門
                    ul.footer__nav__menu.col-lg-3
                        li.footer__nav__menu__item: a(href="http://") 会社案内
                            ul.sub
                                li.sub__item: a(href="http://") 会社概要
                                li.sub__item: a(href="http://") 沿革
                    ul.footer__nav__menu.col-lg-3
                        li.footer__nav__menu__item: a(href="http://") 採用情報
                            ul.sub
                                li.sub__item: a(href="http://") 求める人材
                                li.sub__item: a(href="http://") インタビュー
                                li.sub__item: a(href="http://") 募集要項
                .footer__copyright (C) 2020 SANGYO BOEKI .CO.,LTD
                <!-- jQuery、Popper.js、Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
|</div>
|<?php wp_footer();?>
|</body>
|</html>