|<?php get_header();?>
section.top-main-visual
    .top-main-visual__inner
            h1.top-main-visual__copy
                .top-main-visual__copy__en.fadein-left Change the world with trade
                .top-main-visual__copy__jp.fadein-left 貿易で世界を変える
            .scroll-arrow.fadein-left
                a(href="http://")
                    span
                    span
                    span
                    .txt Scroll
    .pattern
    video(src!="<?php echo get_template_directory_uri(); ?>/images/top_video.mp4?2" autoplay loop muted)
section.top-infomation
    .top-infomation__inner.row.fadein
        .col-md-3
            h2.top-infomation__ttl
                .top-infomation__ttl__en News
                .top-infomation__ttl__jp 最新情報
                .btn.btn-outline-dark.btn-lg.mt-5.p-3.f-12 一覧を見る
        .col-md-9
            |<?php
            |$args = array(
            |'post_type' => 'news',
            |'posts_per_page' => '5'
            |);
            |$the_query = new WP_query($args);
            |if ($the_query->have_posts()):
            |?>
            |<?php while($the_query->have_posts()): $the_query->the_post(); ?>
            .top-news.row
                .top-news__date.col-md-3
                    |<?php the_time('Y年m月d日'); ?>
                a(href!="<?php the_permalink(); ?>").col-md-9
                    h3.top-news__ttl
                        |<?php the_title(); ?>
            |<?php endwhile; ?>
            |<?php wp_reset_postdata(); endif; ?>
section.top-about
    .top-about__inner
        h2.top-about__ttl
            .top-about__ttl__en.fadein About
            .top-about__ttl__jp.fadein 私たちにできること
        //- .top-about__desc
        //-     .top-about__desc__inner
        //-         h2.top-about__desc__ttl
        //-             .top-about__desc__ttl__en About
        //-             .top-about__desc__ttl__jp 私たちにできること
        //-         .colum
        //-             .top-about__desc__box
        //-                 .top-about__desc__box__figure
        //-                     a(href="http://"): img(src="", alt="")
        //-                     h3.top-about__desc__box__figure__copy
        //-             .top-about__desc__box
        //-                 .top-about__desc__box__figure
        //-                     a(href="http://"): img(src="", alt="")
        //-                     h3.top-about__desc__box__figure__copy
        //-             .top-about__desc__box
        //-                 .top-about__desc__box__figure
        //-                     a(href="http://"): img(src="", alt="")
        //-                     h3.top-about__desc__box__figure__copy
        .top-about__detail.fadein
            .top-about__detail__inner
                .top-about__detail__box
                    .top-about__detail__box__inner
                        .colum
                            .top-about__detail__box__contents.col-md-6
                                .top-about__detail__box__contents__inner
                                    p.top-about__detail__box__contents__ttl 貿易会社として世界中に拠点を持ち、
                                                                            br
                                                                            |独自のルートを開拓
                                    p.top-about__detail__box__contents__info 大手貿易会社と比べ、独自の貿易ルートを開拓。コストカットを実現し、長年培ったノウハウを活用し幅広い商材を取り使っています。商材も金属やエネルギーなど社会インフラを支えるものから、消費者に直接届く食料品、医療従事者が使う専門機器まで取り扱っています。
                                    a(href="http://")
                                        .btn.btn-outline-dark.btn-block.btn-lg 詳しくはこちら
                            .top-about__detail__box__img.col-md-6
                                //- img(src="https://placehold.jp/554x436.png", alt="")
                //- .top-about__detail__box
                //-     .top-about__detail__box__inner
                //-         .colum
                //-             .top-about__detail__box__contents
                //-                 p.top-about__detail__box__contents__ttl 海外工場での製作により、国内製作よりコストカットができます
                //-                 p.top-about__detail__box__contents__info 商社を介さず、当社の現地工場にて製作いたしますので、マージンや製作コストが削減できます。
                //-                 a(href="http://")
                //-                     .btn.btn-outline-dark.btn-block.btn-lg 詳しくはこちら
                //-             .top-about__detail__box__img
                //-                 img(src="https://placehold.jp/365x250.png", alt="")
                //- .top-about__detail__box
                //-     .top-about__detail__box__inner
                //-         .colum
                //-             .top-about__detail__box__contents
                //-                 p.top-about__detail__box__contents__ttl 海外工場での製作により、国内製作よりコストカットができます
                //-                 p.top-about__detail__box__contents__info 商社を介さず、当社の現地工場にて製作いたしますので、マージンや製作コストが削減できます。
                //-                 a(href="http://")
                //-                     .btn.btn-outline-dark.btn-block.btn-lg 詳しくはこちら
                //-             .top-about__detail__box__img
                //-                 img(src="https://placehold.jp/365x250.png", alt="")
//- section.top-business
//-     .top-business__inner
//-         h2.top-business__ttl
//-             .top-business__ttl__en Business
//-             .top-business__ttl__jp 事業内容
//-         .colum
//-             a(href="http://").top-business__box
//-                 .top-business__box__bnr.top-meta
//-                     .top-meta__name Metapro!
//-                     p.top-meta__info 防錆鋼材・建材
//-             a(href="http://").top-business__box
//-                 .top-business__box__bnr.top-meta
//-                     .top-meta__name Metapro!
//-                     p.top-meta__info 防錆鋼材・建材
//-         .colum
//-             a(href="http://").top-business__box
//-                 .top-business__box__bnr.top-meta
//-                     .top-meta__name Metapro!
//-                     p.top-meta__info 防錆鋼材・建材
//-             a(href="http://").top-business__box
//-                 .top-business__box__bnr.top-meta
//-                     .top-meta__name Metapro!
//-                     p.top-meta__info 防錆鋼材・建材
section.top-business
    .top-business__inner
        h2.top-business__ttl
            .top-business__ttl__en.fadein Business
            .top-business__ttl__jp.fadein 事業内容
        .colum.fadein
            .top-business__box.col-md-6
                a(href="./metal/")
                    .top-business__box__bnr.top-metal
                        .top-business__box__bnr__inner
                            .top-business__box__bnr__name.fadein 金属・鉄鋼部門
                            p.top-business__box__bnr__info.fadein 社会インフラを支える鉄と金属
            .top-business__box.col-md-6
                a(href="./food/")
                    .top-business__box__bnr.top-food
                        .top-business__box__bnr__inner
                            .top-business__box__bnr__name.fadein 食料部門
                            p.top-business__box__bnr__info.fadein 暮らしを支える食料
        .colum.fadein
            .top-business__box.col-md-6
                a(href="./machine/")
                    .top-business__box__bnr.top-machine
                        .top-business__box__bnr__inner
                            .top-business__box__bnr__name.fadein 機械部門
                            p.top-business__box__bnr__info.fadein 自動車から専門機器まで
            .top-business__box.col-md-6
                a(href="./energy/")
                    .top-business__box__bnr.top-energy
                        .top-business__box__bnr__inner
                            .top-business__box__bnr__name.fadein エネルギー・化学品部門
                            p.top-business__box__bnr__info.fadein 日本を支えるエネルギー
section.top-blog
    .top-blog__inner
        h2.top-blog__ttl
            .top-blog__ttl__en.fadein Blog
            .top-blog__ttl__jp.fadein ブログ
        .top-blog__contents.row
            |<?php
            |$args = array(
            |'post_type' => 'blog',
            |'posts_per_page' => '4'
            |);
            |$the_query = new WP_query($args);
            |if ($the_query->have_posts()):
            |?>
            |<?php while($the_query->have_posts()): $the_query->the_post(); ?>
            .top-blog__item.col-md-3
                a(href!="<?php the_permalink(); ?>")
                    .top-blog__item__thum.fadein
                        |<?php the_post_thumbnail('post-thumbnail'); ?>
                    .top-blog__item__date.fadein
                        |<?php the_time('Y年m月d日'); ?>
                    .top-blog__item__ttl.fadein
                        h2.ttl
                            |<?php the_title(); ?>
            |<?php endwhile; ?>
            |<?php wp_reset_postdata(); endif; ?>
section.top-recruit
    .top-recruit__inner
        h2.top-recruit__ttl
            .top-recruit__ttl__en.fadein Recruit
            .top-recruit__ttl__jp.fadein 採用情報
        .colum.fadein
            a(href="http://").top-recruit__box.human.col-4
                .top-recruit__box__figure
                    h3.top-recruit__box__figure__copy.fadein 求める人材
            a(href="http://").top-recruit__box.interview.col-4.col-md-offset-3
                .top-recruit__box__figure
                    h3.top-recruit__box__figure__copy.fadein インタビュー
            a(href="http://").top-recruit__box.application.col-4.col-md-offset-3
                .top-recruit__box__figure
                    h3.top-recruit__box__figure__copy.fadein 募集要項
section.top-contact
    .top-contact__inner
        h2.top-contact__ttl
            .top-contact__ttl__en.fadein Contact
            .top-contact__ttl__jp.fadein お問い合わせ
        p.top-contact__detail.fadein ご意見・ご質問など、お問い合わせは、下記フォームからお願いいたします。
        .top-contact__btn.fadein
            a(href="http://") Contact Form
|<?php get_footer();?>