|<!DOCTYPE html>
|<html lang="ja">
|<head>
meta(charset="UTF-8")
//- meta(name="viewport", content="width=device-width, initial-scale=1.0")
<!-- viewport meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
title サンギョー貿易株式会社
link(rel="stylesheet", type="text/css", href!="<?php bloginfo('template_url'); ?>/css/style.css",media="all" )
|<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
|<script type="text/javascript" src="<?php bloginfo('template_url'); ?>/js/bundle.js"></script>
|</head>
|<body>
|<div id="wrapper">
header.header
    .header__inner
        .header__logo
            a(href!="<?php echo home_url() ?>")
                img(src!="<?php echo get_template_directory_uri(); ?>/images/header_logo.png?2", alt="サンギョー貿易株式会社" ,width="157")
        .header__contact
        nav.header__nav
            ul.header__nav__menu
                li.header__nav__menu__item: a(href="/about") 当社の強み
                li.header__nav__menu__item: a(href="/business") 事業内容
                li.header__nav__menu__item: a(href="/company") 会社案内
                li.header__nav__menu__item: a(href="/recruit") 採用情報
                li.header__nav__menu__item: a(href="/contact") お問い合わせ
        |<?php wp_head();?>
|<main class="main">