|<?php get_header();?>
section.under-contents.under-recruit
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Recruit
            .under-contents__ttl__ja 採用情報
section.human
    .human__inner
        h2.human__ttl
            .human__ttl__en Human
            .human__ttl__jp 求める人材
        .human__detail
            .human__detail__inner
                .human__detail__box
                    .human__detail__box__inner
                        .colum
                            .human__detail__box__contents.col-md-6
                                .human__detail__box__contents__inner
                                    p.human__detail__box__contents__ttl 海外工場での製作により、国内製作よりコストカットができます
                                    p.human__detail__box__contents__info 商社を介さず、当社の現地工場にて製作いたしますので、マージンや製作コストが削減できます。
                                    a(href="http://")
                                        .btn.btn-outline-dark.btn-block.btn-lg 詳しくはこちら
                            .human__detail__box__img.col-md-6
                                img(src="https://placehold.jp/554x436.png", alt="")
section.interview
    .interview__inner
        h2.interview__ttl
            .interview__ttl__en Interview
            .interview__ttl__jp インタビュー
        .row
            .top-recruit__desc__box.col-sm
                .top-recruit__desc__box__figure
                    a(href="http://"): img(src="https://placehold.jp/500x600.png", alt="")
                    h3.top-recruit__desc__box__figure__copy
            .top-recruit__desc__box.col-sm
                .top-recruit__desc__box__figure
                    a(href="http://"): img(src="https://placehold.jp/500x600.png", alt="")
                    h3.top-recruit__desc__box__figure__copy
            .top-recruit__desc__box.col-sm
                .top-recruit__desc__box__figure
                    a(href="http://"): img(src="https://placehold.jp/500x600.png", alt="")
                    h3.top-recruit__desc__box__figure__copy
            .top-recruit__desc__box.col-sm
                .top-recruit__desc__box__figure
                    a(href="http://"): img(src="https://placehold.jp/500x600.png", alt="")
                    h3.top-recruit__desc__box__figure__copy
section.application
    .application__inner
        h2.application__ttl
            .application__ttl__en Application
            .application__ttl__jp 募集要項
        dl
            dt  会社名
            dd  ASTRO BLADE株式会社（英字登録 読み＝アストロブレード
        dl
            dt  設　立
            dd  平成19年5月
        dl
            dt  代表者
            dd  代表取締役　見崎 操
        dl
            dt  本　店
            dd  千葉県千葉市花見川区検見川町1-591-2
                br
                |TEL：<span class="tel-num-white">043-441-7008</span>　<br class="sp-only">FAX：<span class="tel-num-white">0434-41-7015</span>
        dl
            dt  研究所
            dd  埼玉県草加市青柳1-5
        dl
            dt  工　場
            dd  中国遼寧省大連市甘井子区毛墓子村北海工業地区
        dl
            dt 中国大連事務所
            dd 大連市甘井子区&#28377;仁南園7-2-101
        dl
            dt 中国大連ショールーム
            dd 大連市甘井子区毛墓子北海工業区
        dl
            dt 資本金
            dd 5,000万円
        dl
            dt 従業員
            dd 12名
        dl
            dt グループ企業
            dd ニューサンライト株式会社（日本）
                br
                |日本クリーンアップ株式会社（日本）
                br
                |台湾五常有限公司（中華民国 台北市）
                br
                |大連ASTRO BLADE有限公司（中国 遼寧省）
                br
                |ASTRO BLADE VN.CO（ベトナム・HMC）
        dl
            dt 支　所
            dd 中華人民共和国（遼寧省、大連市）
                br
                |タイ王国（バンコク市、スクンビット区）
section.under-contact
    .under-contact__inner
        h2.under-contact__ttl
            .under-contact__ttl__en Contact
            .under-contact__ttl__jp お問い合わせ
        p.under-contact__detail ご意見・ご質問など、お問い合わせは、下記フォームからお願いいたします。
        .under-contact__btn
            a(href="http://") Contact Form
|<?php get_footer();?>