|<?php get_header();?>
section.under-contents.under-energy
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Energy & Chemicals
            .under-contents__ttl__ja エネルギー・化学品部門
section.biz-detail
    .biz-detail__inner
        h3.biz-detail__ttl エネルギーと化学品で
                           br
                           |日本及び世界の人々の豊かな暮らしに貢献する
        p.biz-detail__info エネルギー資源の少ない日本ですが、四方の海は資源の宝庫です。洋上風力、潮流発電をはじめとする海洋エネルギー開発から、その先の海底資源開発を目指す日本に世界の先端技術の提供で貢献します。
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl 石油、天然ガスで社会インフラを支える
                                                        br
                                                        |エネルギー分野
                            p.about__box__contents__info 石油・ガス開発分野では、アゼルバイジャン、ロシア（サハリン）、イラク等の案件に参画しています。アゼルバイジャン共和国カスピ海域のACG油田における現在の生産量は日量約58万バレル（2018年通年実績）で、当社は約3.65％の権益を保有しております。また、天然ガス開発分野では、クリーン・エネルギーとして今後ますます需要拡大が見込まれるLNGにおいてカタール、オマーンでの事業に参画し順調な生産を続けており、商社機能を生かしたLNGトレードも展開中です。
                    .about__box__img.img01.col-md-6
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl 海上・陸上のあらゆるニーズに対応
                            p.about__box__contents__info グループの中核商事会社として、船舶用の燃料油・潤滑油の販売や各種機器、資材、部品、通信関連機材の販売は勿論のこと、陸上用の空調機器、各種プラントを対象とした産業用機器の販売や、中古コンテナの販売・レンタルなど取扱商品は多種にわたります。これら商品に私どもの付加価値を添えて、皆様のニーズにお応えして参ります。
                    .about__box__img.img02.col-md-6
section.product
    .product__inner
        .container
            .row.justify-content-center
                .col-lg-10
                    .card.product--card
                        .product__box
                            h4.product__box__ttl 取扱商品
                            .product__box__item
                                h5.product__box__item__ttl 産業設備
                                .product__box__item__detail コンプレッサー、ブロワー、送排風機、熱交換器、ポンプ、クレーン、分離機、濾過器、搬送機器、ボイラー、発電機、コンベヤほか
                            .product__box__item
                                h5.product__box__item__ttl 公害防止設備
                                .product__box__item__detail 排水処理、脱硫、脱硝、集塵、各設備用機材
                            .product__box__item
                                h5.product__box__item__ttl 空調設備
                                .product__box__item__detaily 空調機、送風機、冷凍機、冷却塔、ダンパー、圧力計、温度計、瞬間流量計、水道メーター、カロリーメーターほか
                            .product__box__item
                                h5.product__box__item__ttl 建築機材及び設備
                                .product__box__item__detail エレベーター、駐車場設備、外壁用石材、建築用建材
                    //- .card.product--card
                    //-     .product__box
                    //-         h4.product__box__ttl お問い合わせ先
                    //-         .row.justify-content-center.contact
                    //-             .col-sm-6
                    //-                 .contact__item
                    //-                     h5.contact__item__ttl 機械部
                    //-                     .contact__item__body
                    //-                         span.contact__item__num TEL 03-6367-5450
                    //-                         span.contact__item__num FAX 03-6367-5522
section.biz-contact
    .biz-contact__inner
        h2.biz-contact__ttl
            .biz-contact__ttl__en Contact
            .biz-contact__ttl__jp お問い合わせ
        p.biz-contact__detail ご意見・ご質問など、お問い合わせは、下記フォームからお願いいたします。
        .biz-contact__btn
            a(href="http://") Contact Form
|<?php get_footer();?>