|<?php get_header();?>
section.under-contents.under-recruit
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en.fadein Recruit
            .under-contents__ttl__ja.fadein 採用情報
section.human#human
    .human__inner
        h2.human__ttl
            .human__ttl__en.fadein Human
            .human__ttl__jp.fadein 求める人材
        .human__detail
            .human__detail__inner
                .human__detail__box
                    .human__detail__box__inner
                        .colum
                            .human__detail__box__contents.col-md-6
                                .human__detail__box__contents__inner
                                    p.human__detail__box__contents__ttl.fadein 共に挑戦してくれる「仲間」を
                                                                        br
                                                                        |探しています
                                    p.human__detail__box__contents__info.fadein 時代の変化に対応し、我々のビジネスも変化を続けてまいりました。Society 5.0と呼ばれるこれからの社会。目覚ましい技術革新を背景に、これまでの常識が覆される時代になると言われています。そのような時代だからこそ、世の常識に縛られず、自分の目で本質を見抜ける人材を求めています。
                            .human__detail__box__img.col-md-6.fadein
section.interview#interview
    .interview__inner
        h2.interview__ttl
            .interview__ttl__en.fadein Interview
            .interview__ttl__jp.fadein インタビュー
        .row.fadein
            a(href="http://").interview__box.col-3.member-01
                .member-info
                    p.member-info__name
                        span.jp 水野 涼子
                        span.en Mizuno Ryouko
                    p.member-info__department 金属・鉄鋼事業部
            a(href="http://").interview__box.col-3.member-02
                .member-info
                    p.member-info__name
                        span.jp 秋山 沙耶
                        span.en Akiyama Saya
                    p.member-info__department 食料事業部
            a(href="http://").interview__box.col-3.member-03
                .member-info
                    p.member-info__name
                        span.jp 長谷川 健
                        span.en Hasegawa Ken
                    p.member-info__department 機械事業部
            a(href="http://").interview__box.col-3.member-04
                .member-info
                    p.member-info__name
                        span.jp 近藤 真一
                        span.en Kondo Shinichi
                    p.member-info__department エネルギー・化学品事業部
section.application#application
    .application__inner.fadein
        h2.application__ttl
            .application__ttl__en Application
            .application__ttl__jp 募集要項
        dl
            dt  会社名
            dd  ASTRO BLADE株式会社（英字登録 読み＝アストロブレード
        dl
            dt  設　立
            dd  平成19年5月
        dl
            dt  代表者
            dd  代表取締役　見崎 操
        dl
            dt  本　店
            dd  千葉県千葉市花見川区検見川町1-591-2
                br
                |TEL：<span class="tel-num-white">043-441-7008</span>　<br class="sp-only">FAX：<span class="tel-num-white">0434-41-7015</span>
        dl
            dt  研究所
            dd  埼玉県草加市青柳1-5
        dl
            dt  工　場
            dd  中国遼寧省大連市甘井子区毛墓子村北海工業地区
        dl
            dt 中国大連事務所
            dd 大連市甘井子区&#28377;仁南園7-2-101
        dl
            dt 中国大連ショールーム
            dd 大連市甘井子区毛墓子北海工業区
        dl
            dt 資本金
            dd 5,000万円
        dl
            dt 従業員
            dd 12名
        dl
            dt グループ企業
            dd ニューサンライト株式会社（日本）
                br
                |日本クリーンアップ株式会社（日本）
                br
                |台湾五常有限公司（中華民国 台北市）
                br
                |大連ASTRO BLADE有限公司（中国 遼寧省）
                br
                |ASTRO BLADE VN.CO（ベトナム・HMC）
        dl
            dt 支　所
            dd 中華人民共和国（遼寧省、大連市）
                br
                |タイ王国（バンコク市、スクンビット区）
section.recruit-contact
    .recruit-contact__inner
        h2.recruit-contact__ttl
            .recruit-contact__ttl__en.fadein Contact
            .recruit-contact__ttl__jp.fadein お問い合わせ
        p.recruit-contact__detail.fadein ご意見・ご質問など、お問い合わせは、下記フォームからお願いいたします。
        .recruit-contact__btn.fadein
            a(href!="<?php echo home_url() ?>/contact/") Contact Form
|<?php get_footer();?>