|<?php get_header();?>
section.under-contents.under-business
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Business
            .under-contents__ttl__ja 事業内容
section.business
    .business__inner
        .colum
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-metal
                    .business__box__bnr__inner
                        .business__box__bnr__name 金属・鉄鋼部門
                        p.business__box__bnr__info 社会インフラを支える鉄と金属
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-food
                    .business__box__bnr__inner
                        .business__box__bnr__name 食料部門
                        p.business__box__bnr__info 暮らしを支える食料
        .colum
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-machine
                    .business__box__bnr__inner
                        .business__box__bnr__name 機械部門
                        p.business__box__bnr__info 自動車から専門機器まで
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-energy
                    .business__box__bnr__inner
                        .business__box__bnr__name エネルギー・化学品部門
                        p.business__box__bnr__info 日本を支えるエネルギー
|<?php get_footer();?>