|<?php get_header();?>
section.under-contents.under-about
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en About
            .under-contents__ttl__ja 当社の強み
section.about
    .about__inner
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl 海外工場での製作により、国内製作よりコストカットができます
                            p.about__box__contents__info 商社を介さず、当社の現地工場にて製作いたしますので、マージンや製作コストが削減できます。
                            a(href="http://")
                                .btn.btn-outline-dark.btn-block.btn-lg 詳しくはこちら
                    .about__box__img.col-md-6
                        img(src="https://placehold.jp/554x436.png", alt="")
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl 海外工場での製作により、国内製作よりコストカットができます
                            p.about__box__contents__info 商社を介さず、当社の現地工場にて製作いたしますので、マージンや製作コストが削減できます。
                            a(href="http://")
                                .btn.btn-outline-dark.btn-block.btn-lg 詳しくはこちら
                    .about__box__img.col-md-6
                        img(src="https://placehold.jp/554x436.png", alt="")
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl 海外工場での製作により、国内製作よりコストカットができます
                            p.about__box__contents__info 商社を介さず、当社の現地工場にて製作いたしますので、マージンや製作コストが削減できます。
                            a(href="http://")
                                .btn.btn-outline-dark.btn-block.btn-lg 詳しくはこちら
                    .about__box__img.col-md-6
                        img(src="https://placehold.jp/554x436.png", alt="")


|<?php get_footer();?>