|<?php get_header();?>
section.under-contents.under-business
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Business
            .under-contents__ttl__ja 事業内容
            section.top-business
section.top-business__inner.page
    .colum.fadein
        .top-business__box.col-md-6
            a(href!="./metal/")
                .top-business__box__bnr.top-metal
                    .top-business__box__bnr__inner
                        .top-business__box__bnr__name.fadein 金属・鉄鋼部門
                        p.top-business__box__bnr__info.fadein 社会インフラを支える鉄と金属
        .top-business__box.col-md-6
            a(href!="./food/")
                .top-business__box__bnr.top-food
                    .top-business__box__bnr__inner
                        .top-business__box__bnr__name.fadein 食料部門
                        p.top-business__box__bnr__info.fadein 暮らしを支える食料
    .colum.fadein
        .top-business__box.col-md-6
            a(href!="./machine/")
                .top-business__box__bnr.top-machine
                    .top-business__box__bnr__inner
                        .top-business__box__bnr__name.fadein 機械部門
                        p.top-business__box__bnr__info.fadein 自動車から専門機器まで
        .top-business__box.col-md-6
            a(href!="./energy/")
                .top-business__box__bnr.top-energy
                    .top-business__box__bnr__inner
                        .top-business__box__bnr__name.fadein エネルギー・化学品部門
                        p.top-business__box__bnr__info.fadein 日本を支えるエネルギー
//- section.business
//-     .business__inner
//-         .colum.fadein
//-             .business__box.col-md-6
//-                 a(href="./metal/")
//-                     .business__box__bnr.top-metal
//-                         .business__box__bnr__inner
//-                             .business__box__bnr__name.fadein 金属・鉄鋼部門
//-                             p.business__box__bnr__info.fadein 社会インフラを支える鉄と金属
//-             .business__box.col-md-6
//-                 a(href="./food/")
//-                     .business__box__bnr.top-food
//-                         .business__box__bnr__inner
//-                             .business__box__bnr__name.fadein 食料部門
//-                             p.business__box__bnr__info.fadein 暮らしを支える食料
//-         .colum.fadein
//-             .business__box.col-md-6
//-                 a(href="./machine/")
//-                     .business__box__bnr.top-machine
//-                         .business__box__bnr__inner
//-                             .business__box__bnr__name.fadein 機械部門
//-                             p.business__box__bnr__info.fadein 自動車から専門機器まで
//-             .business__box.col-md-6
//-                 a(href="./energy/")
//-                     .business__box__bnr.top-energy
//-                         .business__box__bnr__inner
//-                             .business__box__bnr__name.fadein エネルギー・化学品部門
//-                             p.business__box__bnr__info.fadein 日本を支えるエネルギー
|<?php get_footer();?>