|<?php get_header();?>
section.under-contents.under-contact
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Contact
            .under-contents__ttl__ja お問い合わせ
section
|<?php if(have_posts()) : while(have_posts()) : the_post(); ?>
|<?php the_content(); ?>
|<?php endwhile; endif; ?>
|<?php get_footer();?>