|<?php get_header();?>
section.under-contents.under-energy
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Energy & Chemicals
            .under-contents__ttl__ja エネルギー・化学品部門
section.biz-detail
    .biz-detail__inner
        h3.biz-detail__ttl.fadein エネルギーと化学品で
                           br
                           |日本及び世界の人々の豊かな暮らしに貢献する
        p.biz-detail__info.fadein エネルギー資源の少ない日本ですが、四方の海は資源の宝庫です。洋上風力、潮流発電をはじめとする海洋エネルギー開発から、その先の海底資源開発を目指す日本に世界の先端技術の提供で貢献します。
        .biz-detail__box
            .biz-detail__box__inner
                .colum
                    .biz-detail__box__contents.col-md-6
                        .biz-detail__box__contents__inner
                            p.biz-detail__box__contents__ttl.fadein 石油、天然ガスで社会インフラを支える
                                                        br
                                                        |エネルギー分野
                            p.biz-detail__box__contents__info.fadein 石油・ガス開発分野では、アゼルバイジャン、ロシア（サハリン）、イラク等の案件に参画しています。アゼルバイジャン共和国カスピ海域のACG油田における現在の生産量は日量約58万バレル（2018年通年実績）で、当社は約3.65％の権益を保有しております。また、天然ガス開発分野では、クリーン・エネルギーとして今後ますます需要拡大が見込まれるLNGにおいてカタール、オマーンでの事業に参画し順調な生産を続けており、商社機能を生かしたLNGトレードも展開中です。
                    .biz-detail__box__img.energy-img01.col-md-6.fadein
        .biz-detail__box
            .biz-detail__box__inner
                .colum
                    .biz-detail__box__contents.col-md-6
                        .biz-detail__box__contents__inner
                            p.biz-detail__box__contents__ttl.fadein 基礎化学品から合成樹脂製品まで扱う
                                                        br
                                                        |化学品分野
                            p.biz-detail__box__contents__info.fadein 基礎化学品から合成樹脂製品、電子材料、医薬品原料など幅広い商品群のトレードを展開しています。なかでも世界中に 広がる販売ネットワークを武器に、有機基礎原料、合繊原料、硫黄及びその誘導品、合成樹脂等の取扱数量は、総合商社でトップクラスの地位にあります。トレードに加え、事業投資を通じて、川上から川下に至るポートフォリオの構築を多方面で進めており、ケミカルフロンティア（株）やプラスチックス（株）等、数多くの有力事業会社を傘下に擁しています。
                    .biz-detail__box__img.energy-img02.col-md-6.fadein
section.product
    .product__inner
        .container
            .row.justify-content-center
                .col-lg-10
                    .card.product--card
                        .product__box.column.fadein
                            h4.product__box__ttl.fadein Column
                            .column__box.row
                                .column__box__contents.col-md-6
                                    h5.column__box__contents__ttl.fadein 知ってますか？石油の話
                                    p.column__box__contents__info.fadein 石油は毎日の生活にかかせないものとなっています。
                                        br
                                        |石油がなければ自動車も動きませんし、
                                        br
                                        |冬場に活躍するストーブから火力発電まで、幅広く石油が使われています。
                                        br
                                        |そんな石油ですが主な産地は日本から遠く離れた中東地域。
                                        br
                                        |そして中東地域から日本へ石油を輸入する重要な役割を我々貿易会社が担っています。
                                        br
                                        |石油ひとつにしてもたくさんのひとが携わっているのです。
                                .column__box__img.col-md-6
                                    .column__box__img__figure.energy.fadein
section.biz-contact
    .biz-contact__inner
        h2.biz-contact__ttl
            .biz-contact__ttl__en.fadein Contact
            .biz-contact__ttl__jp.fadein お問い合わせ
        p.biz-contact__detail.fadein ご意見・ご質問など、お問い合わせは、下記フォームからお願いいたします。
        .biz-contact__btn.fadein
            a(href!="<?php echo home_url() ?>/contact/") Contact Form
|<?php get_footer();?>