|<?php get_header();?>
section.under-contents.under-business
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Business
            .under-contents__ttl__ja 事業内容
section.business
    .business__inner
        .colum
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-meta
                    .top-meta__inner
                        .top-meta__name Metapro!
                        p.top-meta__info 防錆鋼材・建材
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-meta
                    .top-meta__inner
                        .top-meta__name Metapro!
                        p.top-meta__info 防錆鋼材・建材
        .colum
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-meta
                    .top-meta__inner
                        .top-meta__name Metapro!
                        p.top-meta__info 防錆鋼材・建材
            a(href="http://").business__box.col-md-6
                .business__box__bnr.top-meta
                    .top-meta__inner
                        .top-meta__name Metapro!
                        p.top-meta__info 防錆鋼材・建材
|<?php get_footer();?>