|<?php get_header();?>
section.under-contents.under-recruit
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en Recruit
            .under-contents__ttl__ja 採用情報
section.human#human
    .human__inner
        h2.human__ttl
            .human__ttl__en.fadein Human
            .human__ttl__jp.fadein 求める人材
        .human__detail
            .human__detail__inner
                .human__detail__box
                    .human__detail__box__inner
                        .colum
                            .human__detail__box__contents.col-md-6
                                .human__detail__box__contents__inner
                                    p.human__detail__box__contents__ttl.fadein 共に挑戦してくれる「仲間」を
                                                                        br
                                                                        |探しています
                                    p.human__detail__box__contents__info.fadein 時代の変化に対応し、我々のビジネスも変化を続けてまいりました。Society 5.0と呼ばれるこれからの社会。目覚ましい技術革新を背景に、これまでの常識が覆される時代になると言われています。そのような時代だからこそ、世の常識に縛られず、自分の目で本質を見抜ける人材を求めています。
                            .human__detail__box__img.col-md-6.fadein
section.interview#interview
    .interview__inner
        h2.interview__ttl
            .interview__ttl__en.fadein Interview
            .interview__ttl__jp.fadein インタビュー
        .row.fadein
            a(href="http://").interview__box.col-3.member-01
                .member-info
                    p.member-info__name
                        span.jp 水野 涼子
                        span.en Mizuno Ryouko
                    p.member-info__department 金属・鉄鋼事業部
            a(href="http://").interview__box.col-3.member-02
                .member-info
                    p.member-info__name
                        span.jp 秋山 沙耶
                        span.en Akiyama Saya
                    p.member-info__department 食料事業部
            a(href="http://").interview__box.col-3.member-03
                .member-info
                    p.member-info__name
                        span.jp 長谷川 健
                        span.en Hasegawa Ken
                    p.member-info__department 機械事業部
            a(href="http://").interview__box.col-3.member-04
                .member-info
                    p.member-info__name
                        span.jp 近藤 真一
                        span.en Kondo Shinichi
                    p.member-info__department エネルギー・化学品事業部
section.application#application
    .application__inner.fadein
        h2.application__ttl
            .application__ttl__en Application
            .application__ttl__jp 募集要項
        dl
            dt  募集職種
            dd  総合職（海外転勤をともなう）
        dl
            dt  勤務地
            dd  本社（東京都〇〇区〇〇〇〇町1-111-1）ほか
        dl
            dt  勤務時間
            dd  平日：9：00~18：00
        dl
            dt  休日・休暇
            dd  休日：隔週週休2日制（隔週土曜日、日曜日）、祝日
                br
                |休暇：夏季、年末年始、有給、慶弔
                br
                |※産前産後、育児、介護、出産立会休暇あり
                br
                |年間休日　105日
        dl
            dt  年収・給与
            dd  月給20万1,000円～（一律手当含む）
                br
                |※年齢・経験を考慮し決定致します
                br
                |※試用期間：3ケ月あり
        dl
            dt  仕事内容
            dd  弊社事業に関わる様々な業務
        dl
            dt 雇用形態
            dd 正社員
        dl
            dt 待遇・福利厚生
            dd 各種社会保険完備　資格取得支援
                br
                |退職金制度　社員旅行
section.recruit-contact
    .recruit-contact__inner
        h2.recruit-contact__ttl
            .recruit-contact__ttl__en.fadein Contact
            .recruit-contact__ttl__jp.fadein お問い合わせ
        p.recruit-contact__detail.fadein お問い合わせは、下記フォームからお願いいたします。
        .recruit-contact__btn.fadein
            a(href!="<?php echo home_url() ?>/contact/") Contact Form
|<?php get_footer();?>