|<?php get_header();?>
section.under-contents.under-about
    .under-contents__inner
        h1.under-contents__ttl
            .under-contents__ttl__en.fadein About
            .under-contents__ttl__ja.fadein 当社の強み
section.about
    .about__inner
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl.fadein グループネットワークを生かした
                                                        br
                                                        |付加価値の提供
                            p.about__box__contents__info.fadein 当社は世界最大規模の海運会社のグループ企業として、海上・陸上のあらゆるニーズに技術力と提案力でお応えする技術商社です。永年培われてきたノウハウと、グループネットワーク、さらに「チャレンジ」の精神により、お客様のニーズにお応えし、さらなる付加価値の提供をお約束します。
                            a(href="http://")
                                .btn.btn-outline-dark.btn-block.btn-lg.fadein 詳しくはこちら
                    .about__box__img.img01.col-md-6.fadein
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl.fadein 海上・陸上のあらゆるニーズに対応
                            p.about__box__contents__info.fadein グループの中核商事会社として、船舶用の燃料油・潤滑油の販売や各種機器、資材、部品、通信関連機材の販売は勿論のこと、陸上用の空調機器、各種プラントを対象とした産業用機器の販売や、中古コンテナの販売・レンタルなど取扱商品は多種にわたります。これら商品に私どもの付加価値を添えて、皆様のニーズにお応えして参ります。
                            a(href="http://")
                                .btn.btn-outline-dark.btn-block.btn-lg.fadein 詳しくはこちら
                    .about__box__img.img02.col-md-6.fadein
        .about__box
            .about__box__inner
                .colum
                    .about__box__contents.col-md-6
                        .about__box__contents__inner
                            p.about__box__contents__ttl.fadein グループ一丸となった
                                                        br
                                                        |環境・安全への取り組み
                            p.about__box__contents__info.fadein 商船三井グループでは「環境先進企業」として、環境負荷低減に向けた取り組みを一層強化しており、商船三井テクノトレードでは環境保全方針を定め、エコアクション21を認証取得しています。詳しくは環境保全方針の欄をご覧ください。更に、安全に向けた取り組みでは、商船三井の「世界最高水準の安全運航」の実現をサポートし、陸上と海上が一体となって、4ゼロをはじめとする目標達成に取り組んでいます。
                            a(href="http://")
                                .btn.btn-outline-dark.btn-block.btn-lg.fadein 詳しくはこちら
                    .about__box__img.img03.col-md-6.fadein


|<?php get_footer();?>